.header{
    width: 100%;
    padding: calc(40px / 2) 40px;
    background-color: #021117;
    min-height: 200px;
    border-radius: 0 0 10px 10px;
}
.nav{
    margin-bottom: 10px;
}
.nav_logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav_logo_icon{
    margin: 0 12px;
}

.nav_logo_text{
    font-size: 28px;
    font-weight: 300;
    color: #ffffff;
    font-style: italic;
    margin-top: -4px;
}

.line{
    background-color: #243238;
    margin: 12px 4px;
    height: .5px !important;
}